{% extends "main.html" %}
{% block brunch_pages %}
<li>
	<a class="nav-link active" href="#">...So, what is bisBismuth again?<span class="sr-only">(current)</span></a>
</li>
{% endblock %}
{% block static_html %}
<div class="mx-2">
	<h1>
		<a href="https://www.google.com/search?q=bismuth&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjG3K2T7fncAhVNK1AKHRqbD3wQ_AUICigB&biw=1536&bih=734" class="link-color">Bismuth</a> is a beautiful metal.
	</h1>
	<p>
		Likewise, bisBismuth is a beautiful website. You can use it to post anything you like and not post anything you do not like. Each post can be accompanied by an image, a title or a body. If you do not want to fill a particular field in - just leave it empty. Be aware that there are at most 100 posts displayed and stored in the memory at any one time. Moreover, the website remembers which posts are yours by means of cookies. Delete them or use a different browser and you will not be able to control your previous posts.
	</p>
	<p>
		Enjoy the ride!
	</p>
	<p>
		P.S.: It goes without saying that the creators of the website are not accountable for whatever is posted on bisBismuth. Nonetheless, only make posts if you would not mind your family seeing them.
	</p>
</div>
{% endblock %}
{% block custom_scripts %}{% endblock %}